.icon {
    width: 48px;
    height: 48px;
    border: transparent;
    cursor: pointer;
    position: relative;
    margin: 6px;
    padding: 0;
}
.taskBarIcon {
    width: 32px;
    height: 32px;
    margin: 0px;
}

.iconLabel {
    margin-top: 45px;
    text-align: center;
    font-size: small;
}

#profile {
    background: url("./icon/profile.png");
    background-size: cover;
}
#folder {
    background: url("./icon/folder.png");
    background-size: cover;
}
#pdf {
    background: url("./icon/pdf.png");
    background-size: cover;
}
#file {
    background: url("./icon/file.png");
    background-size: cover;
}
#cloudy {
    background: url("./icon/weatherICONS/cloudy.png");
    background-size: cover;
}
#rain {
    background: url("./icon/weatherICONS/rain.png");
    background-size: cover;
}
#snow {
    background: url("./icon/weatherICONS/snow.png");
    background-size: cover;
}
#sun {
    background: url("./icon/weatherICONS/sun.png");
    background-size: cover;
}
#github {
    background: url("./icon/github.png");
    background-size: cover;
    
}

#window {
    background: url("./ICON/windows.png");
    background-size: cover;
}

#wallpaper {
    background: url("./win10.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    right: 0;
    top: -10px;
    left: -8px;
    bottom: 16px;
    padding-top: 10px;
    padding-left: 10px;
}

#taskBar {
    background-color: pink;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 32px;
    left: 0;

}

#currentTime {
    font-size: medium;
    color: cyan;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: absolute;
    right: 10px;
    bottom: -10px;
}

#currentWeather {
    font-size: medium;
    color: red;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: absolute;
    bottom: -10px;
    right: 100px;
}